<launch>
    <include file="$(find robosaut_t2)/launch/world.launch"></include>
    <include file="$(find robosaut_t2)/launch/jackal.launch"></include>
    <node 
        name="robot_controller"
        pkg="robosaut_t2"
        type="robot_controller.py"
        launch-prefix=""
        required="true"
        output="screen"
    >
    <remap from="scan" to="front/scan"/>
    </node>
    <node
        name="rqt_graph"
        pkg="rqt_graph"
        type="rqt_graph"
        output="screen"
        required="true"
    />
</launch>