<launch>
    <arg name="platform" value="jackal"/>
    <arg name="config" value="front_laser"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="yaw" default="0"/>
    <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
        <!-- Optionally configure the spawn position -->
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>
        <arg name="joystick" default="false"/>
    </include>
</launch>